html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.footer {
    background-color: #222;
    border-color: #080808;
    width: 100%;
    height: 100px;
    position: fixed;
    bottom: 0;
    left: 0;
}

#wrapper {
    min-height: 100%;
    position: relative;
}

.bottom {
    font-weight: bold;
    font-family: Verdana, serif;
    font-size: 100%;
    color: white;
}

ul.bottom {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-top: 3em;
    text-align: center;
}

.bottom li {
    display: inline;
    margin: 0.1em 0.1em;
    padding: 0.0em;
}

.bottom a {
    color: white;
}

.bottom a:hover {
    color: lightgrey;
}

.about {
    color: lightgrey;
    font-family: Helvetica, serif;
    text-align: center;
    font-size: 90%;
}

div.about {
    margin-top: 1em;
}

.center {
    margin: auto;
    margin-top: 10px;
    text-align: center;
    display: block;
}

.image {
    display: block;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 700px;
    height: 400px;
}

.thead {
    background-color: darkslategray;
    color: white;
    font-style: italic;
}

